.not-found__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    padding: 3rem 0;
}

.not-found__image-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.not-found__image {
    width: 70%;
}

.back-home-button {
    margin: 4rem 0 6rem 0;
    padding: 1.7rem 2.7rem ;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;

    color: #FFFFFF;
    border-radius: 1rem;
    background-image: linear-gradient(to right, var(--gray), rgba(13, 13, 15, 0.93));
    transition: all ease-in-out 0.3s;
}

.back-home-button:hover {
    font-size: 2.3rem;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 5px 10px 3px;
}

/******************** Media **********************/
@media (max-width: 560px) {

    .not-found__text {
        font-size: 2rem;
    }

    .back-home-button {
        font-size: 1.4rem;
    }

    .back-home-button:hover {
        font-size: 1.8rem;
        box-shadow: rgba(0, 0, 0, 0.3) 2px 5px 10px 3px;
    }
}